* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: #35006e; /* Dark purple background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background-image.png'); /* Background stars or other */
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}



.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #FFB319; /* Orange button color */
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FFA500; /* Lighter orange on hover */
}

#back {
    background-color: #f5f2f2; 
    color: rgb(86, 14, 145); 
    border: none; 
    padding: 20px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    position: fixed;  /* Posición fija */
    top: 20px;  /* Ajusta la distancia desde la parte superior */
    right: 20px;  /* Ajusta la distancia desde la derecha */
    z-index: 1000;  /* Asegura que el botón esté en la parte superior de otros elementos */
    transition: background-color 0.3s; 
}

#back:hover {
    background-color: #530586; 
    color: white;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }

    .button {
        margin-bottom: 15px;
    }
}
