body {
    margin: 0;
    font-family: 'League Spartan ', sans-serif;
    background-color: #1e1e1e; 
    color: #f0f0f0;
    overflow: hidden; 
}

.story-image {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#back {
    background-color: #f5f2f2; 
    color: rgb(86, 14, 145); 
    border: none; 
    padding: 20px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    position: fixed;  /* Posición fija */
    top: 20px;  /* Ajusta la distancia desde la parte superior */
    right: 20px;  /* Ajusta la distancia desde la derecha */
    z-index: 1000;  /* Asegura que el botón esté en la parte superior de otros elementos */
    transition: background-color 0.3s; 
}

#back:hover {
    background-color: #530586; 
    color: white;
}


.storybook {
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
    position: relative;
    background: url("Fondo\ .jpg") top center;
    background-size: cover;
}


.page {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    position: absolute;
    width: 80%;
    height: 80%;
    transition: opacity 1s ease, transform 1s ease, box-shadow 0.5s ease;
    opacity: 1;
    transform: scale(1);
    border-radius: 20px;
}


.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}


h1 {
    font-family: "League Spartan" sans-serif;
    color: #eaf5fc; 
    font-size: 3em;
    margin-top: -5px;
    text-shadow: 3px 3px 6px rgba(138, 43, 141, 0.5); 
}


p {
    color: #fdeafd;
    font-size: 1.5em;
    margin: 20px 0;
    line-height: 1.6;
}

/* Progress Bar */
.progress-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 8px; 
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.progress-bar #progress-fill {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #ff6f61, #ffac41); /* Gradient fill */
    transition: width 0.5s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}


/* Buttons */
.next-button, .restart-button, .choice-button {
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: -5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Button Hover Effects */
.next-button:hover, .restart-button:hover, .choice-button:hover {
    background-color: #e65c50;
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}



/* Keyframes for Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@media (max-width: 600px) {

    body {
        overflow-y: scroll;
        height: 100%;
    }
     
    h1 {
        font-family: "League Spartan" sans-serif;
        color: #eaf5fc; 
        font-size: 30px;
        text-shadow: 3px 3px 6px rgba(138, 43, 141, 0.5); 
    }

    p {
        font-size: 17px;
        margin: 20px 0;
        line-height: 1.6;
    }

    .storybook {
       
        overflow-y: scroll;
        height: auto;
       

    }

    .page {
        overflow-y: scroll;
        height: auto;
      
    }

    #back {
        padding: 3px 20px; 
        font-size: 12px; 
        border-radius: 5px; 
        cursor: pointer; 
        transition: background-color 0.3s; 
    }
}