html {
    height: 100vh;
    overflow: hidden;
}

body { 
    height: 100%;
    margin: 0;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.logo img {
    width: 170px; 
    top: 15px;
    left: -10px;
}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 10px;
    margin-top: -20px;
}

header ul li a{
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    margin-left: 35px;
    border-radius: 10px;
    font-size: 1vw;
    transition: background 0.3s ease, color 0.3s ease;
}

header ul li a:hover{
    background: #fff;
    color:#460483;
}

.menu-icon {
    display: none; /* Oculto por defecto en pantallas grandes */
    font-size: 30px; 
    color: #fff; 
    cursor: pointer; 
}

.section1, .section2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section1::before {
    content: "";
    width: 100%; 
    height: 100%;
    position: absolute;
    background: url("BG.png") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(0.5px);
    z-index: -1; 
}

.section1::after {
    content: "";
    width: 100%; 
    height: 100%;
    position: absolute;
    background: url("Planet.png") top center;
    background-size: cover;   
    z-index: 0;
}

.section1 .text {
    top: -5%;
    transform: translateZ(-0.5px) scale(1.5,1.6) translate(-33%, 10%);
}

.section2 {
    background-color: #460483;
}

.text {
    margin-top: 150px;
    top: 50%;
    left: 50%;
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    font-size: 7.5vw;
    color: white;
    font-weight: bold;
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.7),
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 15px rgba(116, 18, 129, 0.5),
        0 0 20px rgba(126, 37, 134, 0.5),
        0 0 30px rgba(129, 18, 129, 0.5);
    transform: scale(1,1.1) translate(-50%, 10%);
}

/* Responsivo */
@media (max-width: 600px) {

    body{
        overflow: hidden;
    }
    .text {
        font-size: 60px;
        line-height: 80px;
    }

    .section1::before {
        background: url("BGT.png") top center;
        background-size: 400px;
        transform: translateZ(-1px) scale(2.2);
        filter: blur(0.5px);
        position: block;
    }

    .logo img {
        width: 80px; 
        margin-top: 10px;
        margin-left: 10px;
    }

    .section1::after {
        margin-top: -0%;
        background: url("PlanetT.png") top center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header ul {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        position: absolute; 
        background-color: #460483; 
        top: 100px; 
        left: 0;
        z-index: 0; 
    }
    
    header ul.show {
        display: flex; 
    }
    
    .menu-icon {
        display: block; 
    }
    
    header ul li {
        margin: 10px 0; 
    }
    
    header ul li a {
        font-size: 3vw; 
        padding: 15px;
    }
}
