/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #6a0dad;
    overflow-y: auto; /* Habilitar scroll en el cuerpo */
}

/* Estilo del logo */
.logo {
    position: absolute;
    top: 10px;
    left: 10px; /* Mantén el logo en la esquina superior izquierda */
}

.logo img {
    width: 100px; /* Ajuste el tamaño del logo */
    height: auto;
}

/* Contenedor de las cartas */
.container {
    width: 100%;
    padding: 20px;
}

/* Estilos de las cartas */
.container .card {
    background: linear-gradient(60deg, #151516 0%, #122239 100%);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-top: 50px;
    overflow-y: auto; /* Habilitar scroll interno en las tarjetas */
    max-height: 400px; /* Altura máxima para las tarjetas */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.container .card img {
    margin-top: 6px; /* Espacio arriba de la imagen */
    border-radius: 20px 20px 0 0; /* Redondear solo las esquinas superiores */
    max-height: 200px; /* Altura máxima para la imagen */
    object-fit: cover; /* Asegurar que la imagen se ajuste dentro de su contenedor */
    width: 100%; /* Asegurar que la imagen ocupe el ancho completo del contenedor */
}

.container .card .card-body {
    max-height: 150px; /* Altura máxima del cuerpo de la tarjeta */
    overflow-y: auto; /* Habilitar scroll interno en el cuerpo de la tarjeta */
}

.container .card h5 {
    font-size: 24px;
    font-weight: 700;
    transition: 0.2s ease;
}

.container .card p {
    font-size: 16px;
}

button {
    margin-top: px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.btn-secondary {
    background-color: #ff6600;
    border-color: #ff6600;
    color: white;
}

.btn-secondary:hover {
    background-color: #ff4500;
    border-color: #ff4500;
}

.hide-info-btn, .more-info-btn {
    background-color: #ff6600;
    border-color: #ff6600;
    color: white;
}

.hide-info-btn:hover, .more-info-btn:hover {
    background-color: #ff4500;
    border-color: #ff4500;
}

/* Responsivo */
@media (max-width: 767px) {
    .logo img {
        width: 50px; /* Tamaño más pequeño del logo en dispositivos móviles */
    }

    .container .card {
        margin-bottom: 20px;
    }

    .container .card .card-body h5 {
        font-size: 18px;
    }

    .container .card .card-body p {
        font-size: 14px;
    }
}
