body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: #6a0dad;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

.container {
    width: 100%;
    padding: 20px;
}

.container .card {
    background: linear-gradient(60deg, #151516 0%, #122239 100%);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
}

.container .card h5 {
    font-size: 20px;
    font-weight: 700;
    transition: 0.2s ease;
}

.container .card p {
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.btn-secondary {
    background-color: #ff6600;
    border-color: #ff6600;
    color: white;
}

.btn-secondary:hover {
    background-color: #ff4500;
    border-color: #ff4500;
}

.hide-info-btn,
.more-info-btn {
    background-color: #ff6600;
    border-color: #ff6600;
    color: white;
}

.hide-info-btn:hover,
.more-info-btn:hover {
    background-color: #ff4500;
    border-color: #ff4500;
}

@media (max-width: 767px) {
    .logo img {
        width: 50px;
    }

    .container .card {
        margin-bottom: 20px;
        width: 100%;
    }

    .container .card .card-body h5 {
        font-size: 16px;
    }

    .container .card .card-body p {
        font-size: 12px;
    }
}
